html {
  font-size: 62.5%;
  font-family: open-sans;
}
body {
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 10px;
}
/* section header */
.logo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.logo-hotel {
  display: flex;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* section nav */
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2em;
  justify-content: center;
  /* vertical-align: center; */
  /* width: 100%; */
  /* text-align: justify; */
}
.menu ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 3em;
  align-items: center;
  display: flex;
  background: #85929e;
  justify-content: space-around;
}
/* items nav bar */
.menu li {
  list-style: none;
  display: flex;
  padding: 0 2rem;
  font-size: 1em;
}
.reserver {
  color: #fff;
  background-color: #ccb861;
}
/* section main */

main {
  width: 100%;
  margin: 0;
}

/* section carousel */
#carousel {
  margin-top: 2em;
}
.diapo {
  width: 100%;
}
.image-carousel {
  width: 100%;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  text-align: justify;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
thead {
  background-color: #ccb861;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 10px;
  font-size: 1.5rem;
  border-color: #85929e;
  width: 100%;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: #85929e;
}
td,
th {
  border: 1px solid rgb(100, 100, 100);
  padding: 10px 20px;
}
td {
  text-align: center;
}
footer {
  background-color: #85929e;
}
h3 {
  text-align: center;
  padding-top: 3%;
  text-indent: 0%;
  margin-block: initial;
  color: #fff;
}
.menus {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2em;
  justify-content: center;
}
.menus ul {
  padding-left: 0%;
  margin-left: 15;
  width: 50%;
  height: 5em;
  /*align-items: flex-end;*/
  display: flex;
  background: #85929e;
  /*justify-content: space-around;*/
  color: #fff;
}
.menus li {
  list-style: none;
  display: flex;
  padding: 0 2rem;
  font-size: 1em;